.rsw-ce ul {
  list-style: disc !important;
  padding-left: 2em !important;
}

.rsw-ce ol {
  list-style: decimal !important;
  padding-left: 2em !important;
}

.rsw-ce {
  font-family: monospace !important;
  background-color: white !important;
}

.rsw-editor {
  height: 60vh !important;
  border: 2px solid black !important;
  border-radius: 0 !important;
}

.rsw-btn,
.rsw-separator,
.rsw-dd {
  color: white !important;
  background-color: black !important;
}

.rsw-btn:hover,
.rsw-btn[data-active="true"] {
  background-color: gray !important;
}

.rsw-toolbar {
  background-color: black !important;
}
